Airport/Service References/SqlReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54822/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SqlService" />
  <xs:import schemaLocation="http://localhost:54822/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SqlService" minOccurs="0" name="manager" nillable="true" type="q1:Check_in" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SqlService" minOccurs="0" name="LoginResult" nillable="true" type="q2:AccountInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRouteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCitiesDictionaryResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAircraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="builtDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="seatsNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAircraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAircraftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAircraftDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAircraftDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAircraftDictionaryResult" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRouteDictionaryResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aircraftId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassenger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportNum" type="xs:long" />
        <xs:element minOccurs="0" name="gender" type="xs:boolean" />
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassengerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPassengerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePassenger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passengerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePassengerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePassengerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassengerDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassengerDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPassengerDictionaryResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoardingPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passengerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="managerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flightDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoardingPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBoardingPassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLuggage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passengerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="weight" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLuggageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLuggageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlightDictionaryResult" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>